<h2 is-upgraded><strong>What&#39;s our starting point?</strong></h2>
<p>Our starting point is a basic weather app designed for this codelab. The code has been simplified to show the concepts in this codelab, and it has little error handling. If you choose to reuse any of this code in a production app, make sure that you handle any errors and fully test all code.</p>
<p>Some things to try...</p>
<ol type="1" start="1">
<li>Add a new city with the blue <strong>+</strong> button in the bottom right corner.</li>
<li>Refresh the data with the refresh button in the upper right corner.</li>
<li>Delete a city using the <strong>x</strong> on the upper right of each city card.</li>
<li>Using the toggle device toolbar in Chrome DevTools, see how it works on desktop and mobile.</li>
<li>Using the <strong>Network</strong> panel in Chrome DevTools, see what happens when you go offline.</li>
<li>Using the <strong>Network</strong> panel in Chrome DevTools, see what happens when the network is throttled to Slow 3G.</li>
<li>Add a delay to the forecast server by changing the value for <code>FORECAST_DELAY</code> in <code>server.js</code></li>
</ol>
<h2 is-upgraded>Audit with Lighthouse</h2>
<p><a href="https://developers.google.com/web/tools/lighthouse/#devtools" target="_blank">Lighthouse</a> is an easy to use tool to help improve the quality of your sites and pages. Lighthouse runs audits for performance, accessibility, progressive web apps, and more. Each audit has a reference doc explaining why the audit is important and how to fix problems.</p>
<p class="image-container"></p>
<p>We&#39;ll use Lighthouse to audit our Weather app, and verify the changes we&#39;ve made.</p>
<aside class="special"><p><strong>Tip: </strong>You can run Lighthouse in Chrome DevTools, from the command line, or as a Node module. Consider <a href="https://github.com/GoogleChromeLabs/lighthousebot" target="_blank">adding Lighthouse</a> to your build process to make sure your web app doesn&#39;t regress. </p>
</aside>
<h2 is-upgraded>Let&#39;s run Lighthouse</h2>
<ol type="1" start="1">
<li>Open your project in a new tab.</li>
<li>Open Chrome DevTools and switch to the <strong>Audits</strong> panel. Leave all of the audit types enabled.</li>
<li>Click <strong>Run audits</strong>. After some time, Lighthouse gives you a report on the page.</li>
</ol>
<h2 is-upgraded><strong>The Progressive Web App Audit</strong></h2>
<p>We&#39;re going to focus on the results of the Progressive Web App audit. </p>
<p class="image-container"></p>
<p>And there&#39;s a lot of red to focus on:</p>
<ul>
<li><strong>❗FAILED:</strong> Current page does not respond with a 200 when offline.</li>
<li><strong>❗FAILED: </strong><code>start_url</code> does not respond with a 200 when offline.</li>
<li><strong>❗FAILED:</strong> Does not register a service worker that controls page and <code>start_url.</code></li>
<li><strong>❗FAILED:</strong> Web app manifest does not meet the installability requirements.</li>
<li><strong>❗FAILED:</strong> Is not configured for a custom splash screen.</li>
<li><strong>❗FAILED:</strong> Does not set an address-bar theme color.</li>
</ul>
<p>Let&#39;s jump in and start fixing some of these issues!</p>

