<p>When a Progressive Web App is installed, it looks and behaves like all of the other installed apps. It launches from the same place that other apps launch. It runs in an app without an address bar or other browser UI. And like all other installed apps, it&#39;s a top level app in the task switcher.</p>
<p class="image-container"></p>
<p>In Chrome, a Progressive Web App can either be installed through the three-dot context menu, or you can provide a button or other UI component to the user that will prompt them to install your app. </p>
<aside class="special"><p><strong>Tip:</strong> Because the install experience in Chrome&#39;s three-dot context menu is somewhat buried, we recommend that you provide some indication within your app to notify the user that your app can be installed and an install button to complete the install process.</p>
</aside>
<h2 is-upgraded><strong>Audit with Lighthouse</strong></h2>
<p>In order for a user to be able to install your Progressive Web App, the app needs to meet <a href="https://developers.google.com/web/fundamentals/app-install-banners/#criteria" target="_blank">certain criteria</a>. The easiest way to check is to use Lighthouse and make sure it meets the installable criteria.</p>
<p class="image-container"></p>
<p>If you&#39;ve worked through this codelab, your PWA should already meet these criteria.</p>
<aside class="special"><p><strong>DevTip:</strong> For this section, enable the <strong>Bypass for network</strong> checkbox in the <strong>Service Workers</strong> pane of the <strong>Application</strong> panel in DevTools. When checked, requests bypass the service worker and are sent directly to the network. This simplifies our development process since we don&#39;t have to update our service worker while working through this section.</p>
</aside>
<h2 is-upgraded><strong>Add install.js to index.html</strong></h2>
<p>First, let&#39;s add the <code>install.js</code> to our <code>index.html</code> file.</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/index.html#L204" target="_blank">public/index.html</a></h3>
<pre><code>&lt;!-- CODELAB: Add the install script here --&gt;
&lt;script src=&#34;/scripts/install.js&#34;&gt;&lt;/script&gt;</code></pre>
<h2 is-upgraded>Listen for <code>beforeinstallprompt</code><strong> event</strong></h2>
<p>If the add to home screen <a href="https://developers.google.com/web/fundamentals/app-install-banners/#criteria" target="_blank">criteria</a> are met, Chrome will fire a <code>beforeinstallprompt</code> event that you can use to indicate your app can be &#39;installed&#39; and then prompt the user to install it. Add the code below to listen for the <code>beforeinstallprompt</code> event:</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/scripts/install.js#L24" target="_blank">public/scripts/install.js</a></h3>
<pre><code>// CODELAB: Add event listener for beforeinstallprompt event
window.addEventListener(&#39;beforeinstallprompt&#39;, saveBeforeInstallPromptEvent);</code></pre>
<h2 is-upgraded><strong>Save event and show install button</strong></h2>
<p>In our <code>saveBeforeInstallPromptEvent</code> function, we&#39;ll save a reference to the <code>beforeinstallprompt</code> event so that we can call <code>prompt()</code> on it later and update our UI to show the install button.</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/scripts/install.js#L34" target="_blank">public/scripts/install.js</a></h3>
<pre><code>// CODELAB: Add code to save event &amp; show the install button.
deferredInstallPrompt = evt;
installButton.removeAttribute(&#39;hidden&#39;);</code></pre>
<h2 is-upgraded><strong>Show the prompt and hide the button</strong></h2>
<p>When the user clicks the install button, we need to call <code>.prompt()</code> on the saved <code>beforeinstallprompt</code> event. We also need to hide the install button, because <code>.prompt()</code> can only be called once on each saved event.</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/scripts/install.js#L45" target="_blank">public/scripts/install.js</a></h3>
<pre><code>// CODELAB: Add code show install prompt &amp; hide the install button.
deferredInstallPrompt.prompt();
// Hide the install button, it can&#39;t be called twice.
evt.srcElement.setAttribute(&#39;hidden&#39;, true);</code></pre>
<p>Calling <code>.prompt()</code> will show a modal dialog to the user, asking them to add your app to their home screen.</p>
<h2 is-upgraded><strong>Log the results</strong></h2>
<p>You can check to see how the user responded to the install dialog by listening for the promise returned by the <code>userChoice</code> property of the saved <code>beforeinstallprompt</code> event. The promise returns an object with an <code>outcome</code> property after the prompt has shown and the user has responded to it.</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/scripts/install.js#L47" target="_blank">public/scripts/install.js</a></h3>
<pre><code>// CODELAB: Log user response to prompt.
deferredInstallPrompt.userChoice
    .then((choice) =&gt; {
      if (choice.outcome === &#39;accepted&#39;) {
        console.log(&#39;User accepted the A2HS prompt&#39;, choice);
      } else {
        console.log(&#39;User dismissed the A2HS prompt&#39;, choice);
      }
      deferredInstallPrompt = null;
    });</code></pre>
<p>One comment about <code>userChoice</code>: the <a href="https://w3c.github.io/manifest/#beforeinstallpromptevent-interface" target="_blank">spec defines it as a property</a>, not a function as you might expect.</p>
<h3 is-upgraded><strong>Log all install events</strong></h3>
<p>In addition to any UI that you add to install your app, users can also install your PWA through other methods, for example Chrome&#39;s three-dot menu. To track these events, listen for the appinstalled event.</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/scripts/install.js#L51" target="_blank">public/scripts/install.js</a></h3>
<pre><code>// CODELAB: Add event listener for appinstalled event
window.addEventListener(&#39;appinstalled&#39;, logAppInstalled);</code></pre>
<p>Then, we&#39;ll need to update the <code>logAppInstalled</code> function. For this codelab, we&#39;ll just use <code>console.log</code>, but in a production app you probably want to log this as an event with your analytics software.</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/scripts/install.js#L60" target="_blank">public/scripts/install.js</a></h3>
<pre><code>// CODELAB: Add code to log the event
console.log(&#39;Weather App was installed.&#39;, evt);</code></pre>
<h2 is-upgraded><strong>Update the service worker</strong></h2>
<p>Don&#39;t forget to update the <code>CACHE_NAME</code> in your <code>service-worker.js</code> file since you&#39;ve made changes to files that are already cached. Enabling the <strong>Bypass for network</strong> checkbox in the <strong>Service Workers</strong> pane of the <strong>Application</strong> panel in DevTools will work in development, but won&#39;t help in the real world.</p>
<h2 is-upgraded><strong>Try it out</strong></h2>
<p>Let&#39;s see how our install step went. To be safe, use the <strong>Clear site data</strong> button in the <strong>Application</strong> panel of DevTools to clear everything away and make sure we&#39;re starting fresh. If you previously installed the app, be sure to uninstall it, otherwise the install icon won&#39;t show up again.</p>
<h3 is-upgraded><strong>Verify the install button is visible</strong></h3>
<p>First, let&#39;s verify our install icon shows up properly. Be sure to try this on both desktop and mobile.</p>
<ol type="1" start="1">
<li>Open the URL in a new Chrome tab.</li>
<li>Open Chrome&#39;s three-dot menu (next to the address bar).<br>▢ Verify you see &#34;<em>Install Weather...</em>&#34; in the menu.</li>
<li>Refresh the weather data using the refresh button in the upper right corner to ensure we meet the <a href="https://developers.google.com/web/fundamentals/app-install-banners/#criteria" target="_blank">user engagement heuristics</a>.<br>▢ Verify that the install icon is visible in the app header.</li>
</ol>
<h3 is-upgraded><strong>Verify the install button works</strong></h3>
<p>Next, let&#39;s make sure everything installs properly and our events are properly fired. You can do this either on desktop or mobile. If you want to test this on mobile, be sure you&#39;re using remote debugging so you can see what&#39;s logged to the console. <br></p>
<ol type="1" start="1">
<li>Open Chrome, and in a new browser tab, navigate to your Weather PWA.</li>
<li>Open DevTools and switch to the <strong>Console</strong> panel.</li>
<li>Click the install button in the upper right corner.<br>▢ Verify the install button disappears<br>▢ Verify the install modal dialog is shown.</li>
<li>Click Cancel.<br>▢ Verify &#34;<em>User dismissed the A2HS prompt</em>&#34; is shown in the console output.<br>▢ Verify the install button reappears.</li>
<li>Click the install button again, then click the install button in the modal dialog.<br>▢ Verify &#34;<em>User accepted the A2HS prompt</em>&#34; is shown in the console output.<br>▢ Verify &#34;<em>Weather App was installed</em>&#34; is shown in the console output.<br>▢ Verify the Weather app is added to the place where you&#39;d typically find apps.</li>
<li>Launch the Weather PWA.<br>▢ Verify the app opens as a standalone app, either in an app window on desktop, or full screen on mobile.</li>
</ol>
<p>.</p>
<aside class="special"><p><strong>Note:</strong> If you&#39;re running on desktop from localhost, your installed PWA may show an address banner because localhost isn&#39;t considered a secure host.</p>
</aside>
<h3 is-upgraded><strong>Verify iOS installation works properly</strong></h3>
<p>Let&#39;s also check the behavior on iOS. If you have an iOS device, you can use that, or if you&#39;re on a Mac, try the iOS Simulator available with Xcode.</p>
<ol type="1" start="1">
<li>Open Safari and in a new browser tab, navigate to your Weather PWA.</li>
<li>Click the <em>Share </em> button.</li>
<li>Scroll right and click on the <em>Add to Home Screen</em> button.<br>▢ Verify the title, URL, and icon are correct.</li>
<li>Click <em>Add.<br></em>▢ Verify the app icon is added to the home screen.</li>
<li>Launch the Weather PWA from the home screen.<br>▢ Verify the app launches full screen.</li>
</ol>
<h2 is-upgraded><strong>Bonus: Detecting if your app is launched from the home screen</strong></h2>
<p>The <code>display-mode</code> media query makes it possible to apply styles depending on how the app was launched, or determine how it was launched with JavaScript. </p>
<pre><code>@media all and (display-mode: standalone) {
  body {
    background-color: yellow;
  }
}</code></pre>
<p>You can also check the <code>display-mode</code> media query in <a href="https://developers.google.com/web/fundamentals/app-install-banners/#detect-mode" target="_blank">JavaScript to see if you&#39;re running in standalone</a>.</p>
<h2 is-upgraded><strong>Bonus: Uninstalling your PWA</strong></h2>
<p>Remember, the <code>beforeinstallevent</code> doesn&#39;t fire if the app is already installed, so during development you&#39;ll probably want to install and uninstall your app several times to make sure everything is working as expected.</p>
<h3 is-upgraded><strong>Android</strong></h3>
<p>On Android, PWAs are uninstalled in the same way other installed apps are uninstalled.</p>
<ol type="1" start="1">
<li>Open the app drawer.</li>
<li>Scroll down to find the Weather icon.</li>
<li>Drag the app icon to the top of the screen.</li>
<li>Choose <em>Uninstall.</em></li>
</ol>
<h3 is-upgraded><strong>ChromeOS</strong></h3>
<p>On ChromeOS, PWAs are easily uninstalled from the launcher search box.</p>
<ol type="1" start="1">
<li>Open the launcher.</li>
<li>Type &#34;<em>Weather</em>&#34; into the search box, your Weather PWA should appear in the results.</li>
<li>Right click (alt-click) on the Weather PWA.</li>
<li>Click <em>Remove from Chrome...</em></li>
</ol>
<h3 is-upgraded><strong>macOS and Windows</strong></h3>
<p>On Mac and Windows, PWAs may be uninstalled through Chrome:</p>
<ol type="1" start="1">
<li>In a new browser tab, open <em>chrome://apps</em>.</li>
<li>Right click (alt-click) on the Weather PWA.</li>
<li>Click <em>Remove from Chrome...</em></li>
</ol>
<p>You can also open the installed PWA, click the the three-dot context menu in the upper right corner, and choose &#34;<em>Uninstall Weather PWA...</em>&#34;</p>
