<p>By the end of this section, our weather app will pass the following audits:</p>
<ul>
<li>Web app manifest does not meet the installability requirements.</li>
<li>Is not configured for a custom splash screen.</li>
<li>Does not set an address-bar theme color.</li>
</ul>
<h2 is-upgraded><strong>Create the web app manifest</strong></h2>
<p>The <a href="https://developers.google.com/web/fundamentals/web-app-manifest" target="_blank">web app manifest</a> is a simple JSON file that gives you, the developer, the ability to control how your app appears to the user.</p>
<p>Using the web app manifest, your web app can:</p>
<ul>
<li>Tell the browser you want your app to open in a standalone window (<code>display</code>).</li>
<li>Define what page is opened when the app is first launched (<code>start_url</code>).</li>
<li>Define what the app should look like on the dock or app launcher (<code>short_name</code>, <code>icons</code>).</li>
<li>Create a splash screen (<code>name</code>, <code>icons</code>, <code>colors</code>).</li>
<li>Tell the browser to open the window in landscape, or portrait mode (<code>orientation</code>).</li>
<li>And <a href="https://developer.mozilla.org/en-US/docs/Web/Manifest#Members" target="_blank">plenty more</a>.</li>
</ul>
<p>Create a file named <code>public/manifest.json</code> in your project. Copy and paste the following contents:</p>
<p><code>public/manifest.json</code></p>
<pre><code>{
  &#34;name&#34;: &#34;Weather&#34;,
  &#34;short_name&#34;: &#34;Weather&#34;,
  &#34;icons&#34;: [{
    &#34;src&#34;: &#34;/images/icons/icon-128x128.png&#34;,
      &#34;sizes&#34;: &#34;128x128&#34;,
      &#34;type&#34;: &#34;image/png&#34;
    }, {
      &#34;src&#34;: &#34;/images/icons/icon-144x144.png&#34;,
      &#34;sizes&#34;: &#34;144x144&#34;,
      &#34;type&#34;: &#34;image/png&#34;
    }, {
      &#34;src&#34;: &#34;/images/icons/icon-152x152.png&#34;,
      &#34;sizes&#34;: &#34;152x152&#34;,
      &#34;type&#34;: &#34;image/png&#34;
    }, {
      &#34;src&#34;: &#34;/images/icons/icon-192x192.png&#34;,
      &#34;sizes&#34;: &#34;192x192&#34;,
      &#34;type&#34;: &#34;image/png&#34;
    }, {
      &#34;src&#34;: &#34;/images/icons/icon-256x256.png&#34;,
      &#34;sizes&#34;: &#34;256x256&#34;,
      &#34;type&#34;: &#34;image/png&#34;
    }, {
      &#34;src&#34;: &#34;/images/icons/icon-512x512.png&#34;,
      &#34;sizes&#34;: &#34;512x512&#34;,
      &#34;type&#34;: &#34;image/png&#34;
    }],
  &#34;start_url&#34;: &#34;/index.html&#34;,
  &#34;display&#34;: &#34;standalone&#34;,
  &#34;background_color&#34;: &#34;#3E4EB8&#34;,
  &#34;theme_color&#34;: &#34;#2F3BA2&#34;
}</code></pre>
<p>The manifest supports an array of icons, intended for different screen sizes. For this codelab, we&#39;ve included a few others for iOS integration.</p>
<aside class="special"><p><strong>TIP:</strong> To be installable, Chrome requires that you provide at least a 192x192px icon and a 512x512px icon. But you can also provide other sizes. Chrome uses the icon closest to 48dp, for example, 96px on a 2x device or 144px for a 3x device.</p>
</aside>
<h2 is-upgraded><strong>Add a link to the web app manifest</strong></h2>
<p>Next, we need to tell the browser about our manifest by adding a <code>&lt;link rel=&#34;manifest&#34;...</code>  to each page in our app. Add the following line to the <code>&lt;head&gt;</code> element in your <code>index.html</code> file. </p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/index.html#L30" target="_blank">public/index.html</a></h3>
<pre><code>&lt;!-- CODELAB: Add link rel manifest --&gt;
&lt;link rel=&#34;manifest&#34; href=&#34;/manifest.json&#34;&gt;</code></pre>
<h3 is-upgraded><strong>DevTools Detour</strong></h3>
<p>DevTools provides a quick, easy way to check your <code>manifest.json</code> file. Open up the <strong>Manifest</strong> pane on the <strong>Application</strong> panel. If you&#39;ve added the manifest information correctly, you&#39;ll be able to see it parsed and displayed in a human-friendly format on this pane.</p>
<p class="image-container"></p>
<h2 is-upgraded><strong>Add iOS meta tags &amp; icons</strong></h2>
<p>Safari on iOS doesn&#39;t support the web app manifest (<a href="https://webkit.org/status/#specification-web-app-manifest" target="_blank">yet</a>), so you&#39;ll need to add the <a href="https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html" target="_blank">traditional <code>meta</code> tags</a> to the <code>&lt;head&gt;</code> of your <code>index.html</code> file:</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/index.html#L31" target="_blank">public/index.html</a></h3>
<pre><code>&lt;!-- CODELAB: Add iOS meta tags and icons --&gt;
&lt;meta name=&#34;apple-mobile-web-app-capable&#34; content=&#34;yes&#34;&gt;
&lt;meta name=&#34;apple-mobile-web-app-status-bar-style&#34; content=&#34;black&#34;&gt;
&lt;meta name=&#34;apple-mobile-web-app-title&#34; content=&#34;Weather PWA&#34;&gt;
&lt;link rel=&#34;apple-touch-icon&#34; href=&#34;/images/icons/icon-152x152.png&#34;&gt;</code></pre>
<h2 is-upgraded><strong>Bonus: Easy Lighthouse fixes</strong></h2>
<p>Our Lighthouse audit called out a few other things that are pretty easy to fix, so let&#39;s take care of those while we&#39;re here.</p>
<h3 is-upgraded><strong>Set the meta description</strong></h3>
<p>Under the SEO audit, Lighthouse noted our &#34;<a href="https://developers.google.com/web/tools/lighthouse/audits/description" target="_blank">Document does not have a meta description.</a>&#34; Descriptions can be displayed in Google Search results. High-quality, unique descriptions can make your results more relevant to search users and can increase your search traffic.</p>
<p>To add a description, add the following <code>meta</code> tag to the <code>&lt;head&gt;</code> of your document:</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/index.html#L32" target="_blank">public/index.html</a></h3>
<pre><code>&lt;!-- CODELAB: Add description here --&gt;
&lt;meta name=&#34;description&#34; content=&#34;A sample weather app&#34;&gt;</code></pre>
<h3 is-upgraded><strong>Set the address bar theme color</strong></h3>
<p>In the PWA audit, Lighthouse noted our app &#34;<a href="https://developers.google.com/web/tools/lighthouse/audits/address-bar" target="_blank">Does not set an address-bar theme color</a>&#34;. Theming the browser&#39;s address bar to match your brand&#39;s colors provides a more immersive user experience.</p>
<p>To set the theme color on mobile, add the following <code>meta</code> tag to the <code>&lt;head&gt;</code> of your document:</p>
<h3 is-upgraded><a href="https://github.com/googlecodelabs/your-first-pwapp/blob/master/public/index.html#L33" target="_blank">public/index.html</a></h3>
<pre><code>&lt;!-- CODELAB: Add meta theme-color --&gt;
&lt;meta name=&#34;theme-color&#34; content=&#34;#2F3BA2&#34; /&gt;</code></pre>
<h2 is-upgraded><strong>Verify changes with Lighthouse</strong></h2>
<p>Run Lighthouse again (by clicking on the + sign in the upper left corner of the Audits pane) and verify your changes.</p>
<p><strong>SEO Audit</strong></p>
<ul>
<li><strong>✅ PASSED:</strong> Document has a meta description. </li>
</ul>
<p><strong>Progressive Web App Audit</strong></p>
<ul>
<li><strong>❗FAILED:</strong> Current page does not respond with a 200 when offline.</li>
<li><strong>❗FAILED: </strong><code>start_url</code> does not respond with a 200 when offline.</li>
<li><strong>❗FAILED:</strong> Does not register a service worker that controls page and <code>start_url.</code></li>
<li><strong>✅ PASSED:</strong> Web app manifest meets the installability requirements.</li>
<li><strong>✅ PASSED:</strong> Configured for a custom splash screen.</li>
<li><strong>✅ PASSED:</strong> Sets an address-bar theme color.</li>
</ul>
