h2 {
    font-size: 20pt;
}
h3 {
    font-size: 18pt;
}
.body {
    background-color: #F8F9FA;
}
.container {
    padding-bottom: 100px;
}
.menu {
    min-width: 25vw;
    max-width: 40vw;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    box-shadow: 4px 0px 34px silver;
    opacity: .96;
    display: none;
    overflow: scroll;
}
.menu-top {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.container-content {
    width: 85%;
}
.card {
    border-radius: 10px;
}
.card-img > img {
    border-radius: 10px 10px 0px 0;
}
.card-title {
    margin-top: 0;
}
.card-action {
    border-radius: 10px 10px 10px 10px !important;
}
.card.resize {
    width: 30%; margin-right: 20px;
    border: 1.2px solid silver;
}

@media only screen and (min-width : 320px) and (max-width : 800px) {
    .card.resize {
        width:47%;
        margin-right: 10px;
    }
    .menu {
        min-width: 100vw !important;
        max-width: 100vw !important;
    }
}

.card-menu {
    opacity: 1;
    box-shadow: 0 !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #A2A2A2;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-menu.active {
    background-color: silver;
}
.card-menu > div.number {
    background-color: #157ECE;
    color: white;
    border-radius: 50px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    align-items: center;
    display: inline-flex;
    margin-right: 10px;
    width: 100%;
}
.card-menu > div.number > p {
    text-align: center;
    width: 100%;
}
.card-menu > p {
    width: 100%;
}

#menuButton {
margin-left: 2%; font-size: 15pt; display: flex; align-items: center;
}

#codelabsTitle {
display:none;
}

.container {
    margin-top: 50px;
}